.first-visit{
  margin:2rem;
  padding: 2rem;
}

.first-visit-inner {
  margin:2rem;
  padding: 2rem;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  background-color: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:1rem;
  margin-bottom: 2rem;
}