.inner-grid{
   margin:2rem;
  padding: 2rem;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  background-color: #eeeeee;
}

.inner-grid .navbar {
  border-radius:10px !important;
}